### Dependencies for project			   		###
###                                             ###
### To install, run:                            ###
###      $ pip install -r requirements.txt      ###
### Or:                                         ###
###    connect requirements file to pycharm     ###
###    using external tools in settings         ###
###################################################

nltk==3.4.5
pathlib==1.0.1
pytest==5.0.1
